example/PaymentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.xmlTechnology.org/Patient"
	xmlns:tns="http://www.xmlTechnology.org/Patient"
	elementFormDefault="qualified">

	<xsd:complexType name="paymentType">
		<xsd:choice>
			<xsd:element name="cash" type="xsd:decimal" />
			<xsd:element name="insurance" type="tns:insuranceType" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="insuranceType">
		<xsd:all>
			<xsd:element name="provider" type="xsd:string" />
			<xsd:element name="limit" type="xsd:decimal" />
		</xsd:all>
	</xsd:complexType>

</xsd:schema>