elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://www.monuments-database.com/elements"
        xmlns:el="https://www.monuments-database.com/elements"
        elementFormDefault="qualified">

    <xsd:complexType name="monuments">
        <xsd:sequence>
            <xsd:element name="monument" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="monument-name" type="xsd:string" >
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength  value="250"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="monument-author" type="xsd:string" >
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    v
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="completion-date">
                            <xsd:complexType>
                                <xsd:group ref="el:completion-date"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="costs">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:unsignedLong">
                                        <xsd:attribute name="currency" type="xsd:string" use="required" />
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="dimensions">
                            <xsd:complexType>
                                <xsd:group ref="el:dimensions"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="visiting" type="xsd:string" />
                        <xsd:element name="history" type="xsd:string" />
                    </xsd:sequence>

                    <xsd:attribute name="monument-id" type="xsd:ID" use="required" />
                    <xsd:attribute name="city-id" type="xsd:IDREF" use="required" />
                    <xsd:attribute name="type-id" type="xsd:IDREF" use="required" />

                </xsd:complexType>
                <xsd:key name="monument-id-key">
                    <xsd:selector xpath="./monuments/monument"/>
                    <xsd:field xpath="@monument-id"/>
                </xsd:key>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="completion-date">
        <xsd:sequence>
            <xsd:element name="completion-day" type="xsd:unsignedInt" >

                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="31"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>


            <xsd:element name="completion-month" type="xsd:unsignedInt" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedInt">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="completion-year" type="xsd:int" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="-10000"/>
                        <xsd:maxInclusive value="10000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>


    <xsd:group name="dimensions">
        <xsd:sequence>

            <xsd:element name="width">
                <xsd:complexType>
                    <xsd:simpleContent>


                        <xsd:extension base="xsd:decimal" >



                            <xsd:attribute name="unit" type="xsd:string" use="required" >
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength  value="250"/>
                                    </xsd:restriction>
                                </xsd:simpleType>

                            </xsd:attribute>
                        </xsd:extension>



                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="height">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:decimal">
                            <xsd:attribute name="unit" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="length">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:decimal">
                            <xsd:attribute name="unit" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>

        </xsd:sequence>
    </xsd:group>


    <xsd:complexType name="cities">
        <xsd:sequence>
            <xsd:element name="city" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="city-name" type="xsd:string" />
                        <xsd:element name="country" type="xsd:string" />
                        <xsd:element name="governing-mayor" type="xsd:string" />
                        <xsd:element name="area">
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="unit" type="xsd:string" fixed="km2" />
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="elevation">
                            <xsd:complexType>
                                <xsd:group ref="el:elevation"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="population" type="xsd:unsignedLong" />
                        <xsd:element name="establishment-date">
                            <xsd:complexType>
                                <xsd:group ref="el:establishment-date"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="city-id" type="xsd:ID" use="required" />
                </xsd:complexType>
                <xsd:key name="city-id-key">
                    <xsd:selector xpath="./cities/city"/>
                    <xsd:field xpath="@city-id"/>
                </xsd:key>
                <xsd:keyref name="city-id-ref" refer="el:city-id-key">
                    <xsd:selector xpath="./monuments/monument"/>
                    <xsd:field xpath="@city-id"/>
                </xsd:keyref>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:group name="elevation">
        <xsd:sequence>
            <xsd:element name="lowest-level">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:unsignedInt">
                            <xsd:attribute name="unit" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="highest-level">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:unsignedInt">
                            <xsd:attribute name="unit" type="xsd:string" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>


    <xsd:group name="establishment-date">
        <xsd:sequence>
            <xsd:element name="establishment-day" type="xsd:unsignedInt" />
            <xsd:element name="establishment-month" type="xsd:unsignedInt" />
            <xsd:element name="establishment-year" type="xsd:int" />
        </xsd:sequence>
    </xsd:group>



    <xsd:complexType name="types">
        <xsd:sequence>
            <xsd:element name="type" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="class" type="xsd:string" use="optional" />
                            <xsd:attribute name="type-id" type="xsd:ID" use="required" />
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
                <xsd:key name="type-id-key">
                    <xsd:selector xpath="./types/type"/>
                    <xsd:field xpath="@type-id"/>
                </xsd:key>
                <xsd:keyref name="type-id-ref" refer="el:type-id-key">
                    <xsd:selector xpath="./monuments/monument"/>
                    <xsd:field xpath="@type-id"/>
                </xsd:keyref>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>