monuments-database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.monuments-database.com"
    xmlns:main="https://www.monuments-database.com"
    xmlns:el="https://www.monuments-database.com/elements"
    elementFormDefault="qualified">

    <xsd:include schemaLocation="authors.xsd"/>
    <xsd:import schemaLocation="elements/monuments.xsd" namespace="https://www.monuments-database.com/elements"/>
    <xsd:import schemaLocation="elements/cities.xsd" namespace="https://www.monuments-database.com/elements"/>
    <xsd:import schemaLocation="elements/types.xsd" namespace="https://www.monuments-database.com/elements"/>

    <xsd:element name="monuments-database">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title" type="xsd:string" />
                <xsd:element name="authors" type="main:authors" maxOccurs="2"/>
                <xsd:element name="monuments" type="el:monuments" maxOccurs="unbounded"/>
                <xsd:element name="cities" type="el:cities" maxOccurs="unbounded"/>
                <xsd:element name="types" type="el:types" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>