monuments-database.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="monuments-database" >
        <xsd:complexType>
            <xsd:sequence> <!-- can be choice/sequence/all -->
                <xsd:element name="title" type="xsd:string"/>
                <xsd:element name="authors" type="xsd:string">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="author" type="xsd:string" maxOccurs="2">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="first-name" type="xsd:string"/>
                                        <xsd:element name="last-name" type="xsd:string"/>
                                        <xsd:element name="student-id" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="monuments" type="xsd:string">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="monument" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                <!--    <!ATTLIST monument monument-id ID #REQUIRED>
                                        <!ATTLIST monument type-id IDREF #REQUIRED>
                                        <!ATTLIST monument city-id IDREF #REQUIRED> -->
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="monument-name" type="xsd:string"/>
                                        <xsd:element name="monument-author" type="xsd:string"/>
                                        <xsd:element name="completion-date" type="xsd:string">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="completion-day" type="xsd:string"/>
                                                    <xsd:element name="completion-month" type="xsd:string"/>
                                                    <xsd:element name="completion-year" type="xsd:string"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="costs" type="xsd:string"/>
                                            <!-- <!ATTLIST costs currency CDATA #IMPLIED> -->
                                        <xsd:element name="dimensions" type="xsd:string">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="width" type="xsd:string"/><!-- <!ATTLIST width unit CDATA #REQUIRED> -->
                                                    <xsd:element name="height" type="xsd:string"/><!-- <!ATTLIST height unit CDATA #REQUIRED> -->
                                                    <xsd:element name="length" type="xsd:string"/><!-- <!ATTLIST length currency CDATA #IMPLIED> -->
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="visiting" type="xsd:string"/>
                                        <xsd:element name="history" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="cities" type="xsd:string">
                    <xsd:complextype>
                        <xsd:sequence>
                            <xsd:element name="city" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>

                                    <xsd:sequence>
                                        <xsd:element name="city_name" type="xsd:string"/>
                                        <xsd:element name="country" type="xsd:string"/>
                                        <xsd:element name="governing-mayor" type="xsd:string"/>
                                        <xsd:element name="area" type="xsd:string"/>
                                        <xsd:element name="elevation" type="xsd:string">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="lowest-level" type="xsd:string"/>
                                                    <xsd:element name="highest-level" type="xsd:string"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="population" type="xsd:string"/>
                                        <xsd:element name="establishment-date" type="xsd:string">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:sequence>
                                                        <xsd:element name="establishment-day" type="xsd:string"/>
                                                        <xsd:element name="establishment-month" type="xsd:string"/>
                                                        <xsd:element name="establishment-year" type="xsd:string"/>
                                                    </xsd:sequence>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>

                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complextype>
                </xsd:element>
                <xsd:element name="types">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="type" type="xsd:string" maxOccurs="unbounded"/>
                        </xsd:sequence>
                   </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>