series-database.dtd

<?xml version="1.0" encoding="UTF-8"?>



<!ELEMENT database (series, actor, prize)>
<!ELEMENT series (name, author, relese-year, genre, rating, seasons-number, episodes-number)
<!ELEMENT name (#PCDATA)>
<!-- If an element i empty we write: <!ELEMENT name EMPTY> -->
<!-- If we have an subelement and a text we write: <!ELEMENT name (#PCDATA | element_name)* --> 
<!-- or we can write: <!ELEMENT name ANY> if i dont know what element it contains -->


